html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
  width: 100%;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

.table-container {
  width: 95%;
  overflow: scroll auto;
  height: fit-content;
  margin-top: 15px;
}

.paginator-container {
  width: 95%;
  padding-top: 5px;
  border: 1px solid lightgray;
  border-top: none;
  display: flex;
  justify-content: end;
  align-items: center;
}
